<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>381542696543-rnn04n476gmdb0a262thesd17h3esjoe.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.381542696543-rnn04n476gmdb0a262thesd17h3esjoe</string>
		<key>API_KEY</key>
		<string>AIzaSyDurIUhxi_oWLNrzKXYFIBL3Kb2SNqea9I</string>
		<key>GCM_SENDER_ID</key>
		<string>381542696543</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.louisraffin.chesstrainer</string>
		<key>PROJECT_ID</key>
		<string>chesstrainer-fc080</string>
		<key>STORAGE_BUCKET</key>
		<string>chesstrainer-fc080.firebasestorage.app</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:381542696543:ios:856c9757198748af4a7dea</string>
	</dict>
</plist>
